<% if @total_page > 1 %>
  <% from = [@page - 7, 1].max %>
  <% to = [from + 15, @total_page].min %>
  <div class="pagination">
    <ul>
      <% from.upto(to) do |x| %>
        <li<%= raw(x == @page ? %q{ class="active"} : '') %>>
          <%= link_to x.to_s, problems_list_path(x.to_s, @tag_hash) %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<table id="problems-list" class="table table-hover">
  <thead>
  <tr>
    <th style="width: 5%;"></th>
    <th class="center sortable" style="width: 5%;"><a href="#"><%= t '.id' %></a></th>
    <th style="width: 30%;" class="title"><%= t '.title' %></th>
    <th><%= t '.source' %></th>
    <th class="center sortable" style="width: 10%;"><a href="#"><%= t '.accepted_submissions' %></a></th>
    <th class="center sortable" style="width: 10%;"><a href="#"><%= t '.attempted_submissions' %></a></th>
    <th class="center sortable" style="width: 10%;"><a href="#"><%= t '.accepted_ratio' %></a></th>
  </tr>
  </thead>
  <tbody>
  <% @problems.each do |problem| %>
    <tr>
      <% if @current_user %>
        <% if admin? %>
          <% if problem.status == 'hidden' %>
            <td style="color: grey;" class="icon"><i class="iconic-lock-stroke"></i></td>
          <% elsif problem.status == 'advanced' %>
            <td style="color: orangered;" class="icon"><i class="iconic-star"></i></td>
          <% else %>
            <td></td>
          <% end %>
        <% else %>
          <% if @accepted_ids.include? problem.id %>
            <td style="color: limegreen;" class="icon"><i class="iconic-check"></i></td>
          <% elsif @attempted_ids.include? problem.id %>
            <td style="color: lightcoral;" class="icon"><i class="iconic-x"></i></td>
          <% else %>
            <td></td>
          <% end %>
        <% end %>
      <% else %>
        <td></td>
      <% end %>
      <td class="center"><%= problem.id %></td>
      <td class="title"><%= link_to problem.title, problems_show_path(problem.id), target: '_blank' %></td>
      <td><%= problem.source %></td>
      <td class="center"><%= problem_accepted_submissions_link problem.accepted_submissions, problem.id %></td>
      <td class="center"><%= problem_attempted_submissions_link problem.attempted_submissions, problem.id %></td>
      <td class="center"><%= ratio_str problem.accepted_submissions, problem.attempted_submissions %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<% if @total_page > 1 %>
  <% from = [@page - 7, 1].max %>
  <% to = [from + 15, @total_page].min %>
  <div class="pagination">
    <ul>
      <% from.upto(to) do |x| %>
        <li<%= raw(x == @page ? %q{ class="active"} : '') %>>
          <%= link_to x.to_s, problems_list_path(x.to_s, @tag_hash) %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if admin? %>
  <%= render 'problems/new_dialog' %>
<% end %>

<% if Tag.count > 0 %>
  <%= render 'problems/filter_dialog' %>
<% end %>
