<div id="page-config" class="hidden">
  <div class="title"><%= t '.problems_list' %></div>
  <div class="problem-active">true</div>
</div>

<% if @total_page > 1 %>
  <% from = [@page - 7, 1].max %>
  <% to = [from + 15, @total_page].min %>
  <div class="pagination">
    <ul>
      <% from.upto(to) do |x| %>
        <li<%= raw(x == @page ? %q{ class="active"} : '') %>>
          <%= link_to x.to_s, problems_list_path(x.to_s, @tag_hash) %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<table id="problems-list" class="table table-hover">
  <thead>
  <tr>
    <th style="width: 5%;"></th>
    <th class="center sortable" style="width: 5%;"><a href="#"><%= t '.id' %></a></th>
    <th style="width: 30%;" class="title"><%= t '.title' %></th>
    <th><%= t '.source' %></th>
    <th class="center sortable" style="width: 10%;"><a href="#"><%= t '.accepted_submissions' %></a></th>
    <th class="center sortable" style="width: 10%;"><a href="#"><%= t '.attempted_submissions' %></a></th>
    <th class="center sortable" style="width: 10%;"><a href="#"><%= t '.accepted_ratio' %></a></th>
  </tr>
  </thead>
  <tbody>
  <% if @current_user && !admin? %>
    <% accepted_ids = @current_user.accepted_problem_ids %>
    <% attempted_ids = @current_user.attempted_problem_ids %>
  <% end %>
  <% @problems.each do |problem| %>
    <tr>
      <% if @current_user %>
        <% if admin? %>
          <% if problem.status == 'hidden' %>
            <td style="color: grey;" class="icon"><i class="iconic-lock-stroke"></i></td>
          <% elsif problem.status == 'advanced' %>
            <td style="color: orangered;" class="icon"><i class="iconic-star"></i></td>
          <% else %>
            <td></td>
          <% end %>
        <% else %>
          <% if accepted_ids.include? problem.id %>
            <td style="color: limegreen;" class="icon"><i class="iconic-check"></i></td>
          <% elsif attempted_ids.include? problem.id %>
            <td style="color: lightcoral;" class="icon"><i class="iconic-x"></i></td>
          <% else %>
            <td></td>
          <% end %>
        <% end %>
      <% else %>
        <td></td>
      <% end %>
      <td class="center"><%= problem.id %></td>
      <td class="title"><%= link_to problem.title, problems_show_path(problem.id), target: '_blank' %></td>
      <td><%= problem.source %></td>
      <% accepted_submissions = 0 || Problem.accepted_submissions(problem.id) %>
      <% attempted_submissions = 0 || Problem.attempted_submissions(problem.id) %>
      <td class="center"><%= problem_accepted_submissions_link accepted_submissions, problem.id %></td>
      <td class="center"><%= problem_attempted_submissions_link attempted_submissions, problem.id %></td>
      <td class="center"><%= ratio_str accepted_submissions, attempted_submissions %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<% if @total_page > 1 %>
  <% from = [@page - 7, 1].max %>
  <% to = [from + 15, @total_page].min %>
  <div class="pagination">
    <ul>
      <% from.upto(to) do |x| %>
        <li<%= raw(x == @page ? %q{ class="active"} : '') %>>
          <%= link_to x.to_s, problems_list_path(x.to_s, @tag_hash) %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if admin? %>
  <% cache(action_suffix: 'new_dialog') do %>
    <%= render 'problems/new_dialog' %>
  <% end %>
<% end %>

<%= render 'problems/filter_dialog' %>

<div id="toolbar" class="hidden">
  <ul class="nav pull-right">
    <% if admin? %>
      <li>
        <a id="new-problem-button" href="#new-problem-dialog" data-toggle="modal" style="outline: none;"><%= t '.add_problem' %></a>
      </li>
    <% end %>
    <li>
      <a id="filter-button" href="#filter-dialog" data-toggle="modal" style="outline: none;"><%= t '.filter' %></a>
    </li>
  </ul>
</div>
