<h2 class="title"><%= t '.status', title: @problem.title %></h2>

<table id="submissions-list" class="table table-condensed table-striped">
  <thead>
  <tr>
    <th><%= t '.rank' %></th>
    <th><%= t '.user' %></th>
    <th><%= t '.score' %></th>
    <th><%= t '.time_used' %></th>
    <th><%= t '.memory_used' %></th>
    <th><%= t '.language' %></th>
    <th><%= t '.platform' %></th>
    <th><%= t '.code_length' %></th>
    <th><%= t '.code_size' %></th>
    <th><%= t '.submit_time' %></th>
  </tr>
  </thead>
  <tbody>
  <% @status_list.each_with_index do |row, index| %>
    <tr class="<%= 'warning' if owner?(row) %>">
      <td><%= (@page - 1) * @page_size + index + 1 %></td>
      <td><%= user_link row.user_handle %>
        <% if row.tried_times > 1 %>
          (<%= link_to row.tried_times, submissions_list_path(handle: row.user_handle, problem_id: @problem.id, choose_all: '1') %>)
        <% end %>
      </td>
      <% if row.share || admin? || owner?(row) %>
        <td><%= link_to row.score.to_s, submissions_result_path(row.submission_id), target: '_blank' %></td>
      <% else %>
        <td><%= row.score %></td>
      <% end %>
      <td><%= format_time_used row.time_used %></td>
      <td><%= format_memory_used row.memory_used %></td>
      <td><%= format_language row.language %></td>
      <td><%= format_platform row.platform %></td>
      <td><%= row.code_length %></td>
      <td><%= format_code_size row.code_size %></td>
      <td><%= format_datetime row.created_at %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<ul class="pager">
  <% if @page > 1 %>
    <li><%= link_to t('.last_page'), problems_status_path(@problem.id, @page - 1) %></li>
  <% end %>
  <% if @page < @total_page %>
    <li><%= link_to t('.next_page'), problems_status_path(@problem.id, @page + 1) %></li>
  <% end %>
</ul>
