<div id="page-config" class="hidden">
  <div class="title"><%= t '.title' %></div>
</div>

<form id="add-users" action="<%= users_search_path %>" method="get">
  <input name="handle" id="user-search" type="text" class="search-query" maxlength="15"
         placeholder="<%= t '.search_user' %>" data-search-url="<%= users_search_path %>">
</form>

<table id="users-table" class="table">
  <thead>
  <tr>
    <th><%= t '.handle' %></th>
    <th><%= t '.real_name' %></th>
    <th><%= t '.school' %></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr class="hidden template">
    <td class="handle"></td>
    <td class="real-name"></td>
    <td class="school"></td>
    <td><button type="button" class="act act-warning cancel"><%= t '.cancel' %></button></td>
  </tr>
  </tbody>
</table>

<button id="submit-button" type="button" class="btn btn-primary hidden"
        data-url="<%= users_admin_advanced_users_path('add') %>" data-confirm="<%= t '.submit_confirm' %>">
  <%= t '.submit' %>
</button>
