<%= form_tag users_update_password_path, class: 'form-horizontal' do %>
  <fieldset>
    <legend><strong><%= t '.edit_password' %></strong></legend>
    <div class="control-group">
      <label for="old-password-input" class="control-label"><%= t '.old_password' %></label>
      <div class="controls">
        <input id="old-password-input" name="old_password" type="password">
        <span class="help-inline" data-errors="old_password"></span>
      </div>
    </div>
    <div class="control-group">
      <label for="new-password-input" class="control-label"><%= t '.new_password' %></label>
      <div class="controls">
        <input id="new-password-input" name="new_password" type="password">
        <span class="help-inline" data-errors="password_digest"></span>
      </div>
    </div>
    <div class="control-group">
      <label for="new-password-confirmation-input" class="control-label"><%= t '.new_password_confirmation' %></label>
      <div class="controls">
        <input id="new-password-confirmation-input" name="new_password_confirmation" type="password">
        <span class="help-inline" data-errors="password"></span>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary" data-disabled="<%= t '.submitting' %>"><%= t '.submit' %></button>
      </div>
    </div>
  </fieldset>
<% end %>
