<div id="user-block">
  <div class="row-fluid">
    <div id="user-div" class="span7">
      <h3 style="margin-left: 5px;"><%= @user.handle %></h3>
      <table class="table" style="margin-bottom: 0">
        <thead></thead>
        <tbody>
        <% if admin? %>
          <tr>
            <td class="left-column"><%= t '.remote_ip' %></td>
            <td class="right-column"><%= @user.remote_ip %></td>
          </tr>
        <% end %>
        <% rank = @user.rank %>
        <% if rank %>
          <tr>
            <td class="left-column"><%= t '.rank' %></td>
            <td class="right-column"><%= rank %></td>
          </tr>
        <% end %>
        <tr>
          <td class="left-column"><%= t '.signature' %></td>
          <td class="right-column"><%= @user.information.signature %></td>
        </tr>
        <% if @user.information.show_real_name || owner?(@user) || admin? %>
          <tr>
            <td class="left-column"><%= t '.real_name' %></td>
            <td class="right-column"><%= @user.information.real_name %></td>
          </tr>
        <% end %>
        <% if @user.information.show_school || owner?(@user) || admin? %>
          <tr>
            <td class="left-column"><%= t '.school' %></td>
            <td class="right-column"><%= @user.information.school %></td>
          </tr>
        <% end %>
        <% if @user.information.show_email || owner?(@user) || admin? %>
          <tr>
            <td class="left-column"><%= t '.email' %></td>
            <td class="right-column">
              <a href="mailto:<%= @user.information.email %>"><%= @user.information.email %></a>
            </td>
          </tr>
        <% end %>
        <tr>
          <td class="left-column"><%= t '.accepted_problems_count' %></td>
          <td class="right-column"><%= @user.accepted_problems %></td>
        </tr>
        <tr>
          <td class="left-column"><%= t '.attempted_problems_count' %></td>
          <td class="right-column"><%= @user.attempted_problems %></td>
        </tr>
        <tr>
          <td class="left-column"><%= t '.accepted_submissions' %></td>
          <td class="right-column"><%= user_accepted_submissions_link @user.accepted_submissions, @user.handle %></td>
        </tr>
        <tr>
          <td class="left-column"><%= t '.attempted_submissions' %></td>
          <td class="right-column"><%= user_attempted_submissions_link @user.attempted_submissions, @user.handle %></td>
        </tr>
        <tr>
          <td class="left-column"><%= t '.accept_ratio' %></td>
          <td class="right-column"><%= ratio_str @user.accepted_submissions, @user.attempted_submissions %></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div id="avatar-div" class="span5">
      <%= image_tag @user.avatar.url, class: 'img-polaroid' %>
    </div>
  </div>
</div>

<% if @current_user && !owner?(@user) %>
  <%= render 'users/message_dialog' %>
<% end %>

<% if admin? %>
  <% unless @user.blocked %>
    <% if @user.role == 'normal_user' %>
      <%= render partial: 'users/confirm_operation_dialog', locals: {
              name: 'upto-advanced-user',
              title: t('.upto_advanced_user_title', handle: @user.handle),
              submit_path: users_admin_path(@user.handle, 'upto_advanced_user'),
              errors_hash: flash[:upto_advanced_user_errors]
      } %>
    <% end %>
    <%= render partial: 'users/confirm_operation_dialog', locals: {
            name: 'upto-admin',
            title: t('.upto_admin_title', handle: @user.handle),
            submit_path: users_admin_path(@user.handle, 'upto_admin'),
            errors_hash: flash[:upto_admin_errors]
    } %>
  <% end %>
  <% if @user.blocked %>
    <%= render partial: 'users/confirm_operation_dialog', locals: {
            name: 'unblock-user',
            title: t('.unblock_user_title', handle: @user.handle),
            submit_path: users_admin_path(@user.handle, 'unblock_user'),
            errors_hash: flash[:unblock_user_errors]
    } %>
  <% else %>
    <%= render partial: 'users/confirm_operation_dialog', locals: {
            name: 'block-user',
            title: t('.block_user_title', handle: @user.handle),
            submit_path: users_admin_path(@user.handle, 'block_user'),
            errors_hash: flash[:block_user_errors]
    } %>
  <% end %>
<% end %>
