<ul class="nav pull-right">
  <% if !@submission.hidden && !@submission.share && @submission.status == 'judged' && !@result[:compile_message] && owner?(@submission) %>
    <li><%= link_to t('.share'), submissions_share_path(@submission.id), confirm: t('.share_confirm') %></li>
  <% end %>
  <% if @current_user && @current_user.role == 'admin' %>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="outline: none;">
        <%= t '.other_operations' %>
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <% if @submission.hidden %>
          <li><%= link_to t('.show_submission'), submissions_show_path(@submission.id), confirm: t('.confirm') %></li>
        <% else %>
          <li><%= link_to t('.hide_submission'), submissions_hide_path(@submission.id), confirm: t('.confirm') %></li>
        <% end %>
        <% if @submission.status != 'waiting' %>
          <li><%= link_to t('.rejudge_submission'), submissions_rejudge_path(@submission.id), confirm: t('.confirm') %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
